.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.main {
  flex: 1;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .page {
    background-color: #000;
  }
}
